@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');


@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }

@keyframes float {
    0%, 100% {
      transform: translateY(0) rotate(6deg);
    }
    50% {
      transform: translateY(-10px) rotate(6deg);
    }
  }
  
  @keyframes float-delayed {
    0%, 100% {
      transform: translateY(0) rotate(-6deg);
    }
    50% {
      transform: translateY(-10px) rotate(-6deg);
    }
  }
  
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
  
  .animate-float-delayed {
    animation: float-delayed 6s ease-in-out infinite;
    animation-delay: 1s;
  }
  
  .bg-grid-slate-100 {
    background-image: linear-gradient(to right, rgb(241 245 249 / 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(241 245 249 / 0.1) 1px, transparent 1px);
  }

html,body{
    font-family: "Exo 2", serif;
    overflow-x: hidden;
}
.subheading-banner{
    font-family: "DM Serif Text", serif;
}

#navbar a{
    margin-left: 0px;
    padding: 10px;
}
.main-container{
    width: 100%;
}
.child-container{
    border:1px soldi ;
    max-width: 1560px;
    margin: 0 auto;
}